h1 {
  color: white;          
  font-size: 30px;        
}

h2 {
  color: black;
  font-size: 20px;
}

p {
  color: white;
  font-size: 20px;
}

.body1 {
  display: flex;
  justify-content: center;
  background-color: black;
  text-align: center;
}

.button1 {
  font-size: 24px;
}

.footer {
  color: white;
  text-align: bottom;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.audio-player {
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: white;
  color: black;
  position: fixed;
  top: 0;         /* Locks it to the top */
  left: 0;        /* Locks it to the left */
  width: 15%;    /* Stretching it across the screen if needed */
  z-index: 1000;  /* Keeps it on top of other content */
  overflow-y: auto; 
        }

.sidebar h2 {
            color: black;
        }

        .sidebar a {
            display: block;
            color: #bbb;
            padding: 16px;
            text-decoration: none;
        }

        .sidebar a:hover {
            background-color: #555;
            color: #fff;
        }
        .content {
          justify-content: center;
          padding: 16px;
        }