<!doctype html>
<html>
     {% block head %}
    <head>
        <title>{% block title %}Funky Skunk{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    {% endblock %}
    <body> 
        <header>
                    <div id="bottomheader" class="d-flex container-fluid justify-content-center">
                        <a href="{{ url_for('home') }}" class="btn btn-danger">Home</a>
                        <div class="dropdown">
                            <a class="btn btn-info dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            One Sweet World
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a href="{{ url_for('rlt') }}">Road Less Traveled</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="{{ url_for('themaster') }}">The Master</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="{{ url_for('pursuit') }}">Pursuit For Practicality</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="{{ url_for('plasticshorts') }}">Plastic Shorts</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="{{ url_for('tuxedo') }}">Tuxedo</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="{{ url_for('senses') }}">In The Senses</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="{{ url_for('meta') }}">Metamorphosis</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="{{ url_for('spacebar') }}">Welcome To The Spacebar</a>                                    </li>
                                <li class="dropdown-item">
                                    <a href="{{ url_for('crimson') }}">Crimson Eyes</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="{{ url_for('hslm') }}">Hot Stick Line Mechanic</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="{{ url_for('clouds') }}">Clouds On A Windy Day</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="{{ url_for('spiritual') }}">Spiritual Practices</a>
                                </li>
                                <li class="dropdown-item">
                            </ul>
                            <a class="btn btn-info dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Singles
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a href="{{ url_for('funktional') }}">Is It Funktional</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="{{ url_for('highlife') }}">High Life</a>
                                </li>
                                 <li class="dropdown-item">
                                    <a href="{{ url_for('isitreal') }}">Is It Real</a>
                                </li>
                            </ul>
                        </div>
                    </div>      
        </header>
            <div class="body1">
            {% block content %}
            {% endblock %}
            </div>
            <div class="footer">
            {% block footer %}
            &copy; One Big L.L.C. 2026
            {% endblock %}
            </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>