
.btn {
  margin-right: 10px;
  margin-top: 10px;

}
.btn2 {
  align-content: center;
}
h2 {
  color: white;
  font-size: 28px;
}

p {
  color: white;
  font-size: 20px;
}

img {
  max-width: 80%;
  height: 30%;
  margin: 20px auto;
}

.container-fluid {
  color: white;
  margin: 0 !important;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.body1 {
  color: #fff;
  justify-content: center;
  background-color: black;
  text-align: center;
}

.button1 {
  font-size: 24px;
}

.button2 {
  font-size: 18px;
  align-items: left;
  margin-top: 20px;
  margin-right: 700px;
}

.footer {
  color: white;
  text-align: bottom;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.dropdown-menu {
    background-color: white !important;
}

a {
  color: black;
}

a:hover {
  color: #2706e2; /* Mouse hover */
}