<!doctype html>
<html>
     {% block head %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title %}Funky Skunk{% endblock %}</title>
        <link rel="icon" href="{{ url_for('static', filename='images/skunk.png') }}">
    </head>
    {% endblock %}
    <body> 
        <div class="sidebar">
        <a href="{{ url_for('home') }}">Home</a>

        <h2>One Sweet World (2020)</h2>

        <a href="{{ url_for('rlt') }}">Road Less Traveled</a>
        <a href="{{ url_for('themaster') }}">The Master</a>
        <a href="{{ url_for('pursuit') }}">Pursuit For Practicality</a>
        <a href="{{ url_for('plasticshorts') }}">Plastic Shorts</a>
        <a href="{{ url_for('tuxedo') }}">Tuxedo</a>
        <a href="{{ url_for('senses') }}">In The Senses</a>
        <a href="{{ url_for('meta') }}">Metamorphosis</a>
        <a href="{{ url_for('spacebar') }}">Welcome To The Spacebar</a>
        <a href="{{ url_for('crimson') }}">Crimson Eyes</a>
        <a href="{{ url_for('hslm') }}">Hot Stick Line Mechanic</a>
        <a href="{{ url_for('clouds') }}">Clouds On A Windy Day</a>
        <a href="{{ url_for('spiritual') }}">Spiritual Practices</a>
        </div>
   
            <div>
            {% block content %}
            {% endblock %}
            </div>
            <div class="footer">
            {% block footer %}
            &copy; One Big L.L.C. 2026
            {% endblock %}
            </div>
    </body>
</html>